#config files
.idea/*

#cache files
.cache/*

#compiled files
*.pyc

#temp files
*~

#migrations
*/migrations/*

#static
static_root/*

#nginx
nginx/*

#some temp file
celerybeat.pid
celerybeat-schedule
dump.rdb
beat
worker

