{% load i18n %}
{% load  staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap-theme.min.css' %}">

        <!-- MetisMenu CSS -->
        <link rel="stylesheet" href="{% static 'startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'startbootstrap/dist/css/sb-admin-2.css' %}">

        <!-- Custom Fonts -->
        <link rel="stylesheet" type="text/css" href="{% static 'startbootstrap/bower_components/font-awesome/css/font-awesome.min.css' %}">

        <!-- leaflet CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet/contextmenu/leaflet.contextmenu.css' %}"/>

        <title>{% trans 'Mapping' %}</title>

    </head>
    <body>
        <!-- Load leaflet Javascript -->
        <script src="{% static 'leaflet/leaflet.js' %} "></script>
        <script src="{% static 'leaflet/contextmenu/leaflet.contextmenu.js' %}"></script>


        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                {% include 'twitter_stream_view/main/head.html' %}
                {% include 'twitter_stream_view/main/sidebar.html' %}
            </nav>

            {% include 'twitter_stream_view/main/body.html' %}
            {% include 'twitter_stream_view/main/footer.html' %}
            {% include 'twitter_stream_view/main/map.html' %}
        </div>

        <script src="{% static 'jquery-2.1.4/jquery.min.js' %}"></script>
        <!-- <script src="{% static 'jquery-2.1.4/jquery.jsontotable.min.js' %}"></script>-->

        <!-- Bootstrap JavaScript -->
         <script src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'startbootstrap/dist/js/sb-admin-2.js' %}"></script>
        <!-- leaflet JavaScript -->
        <script src="{% static 'leaflet/contextmenu/leaflet.contextmenu.js' %}"></script>


    </body>
</html>
